
.custome-transparent-menu .ant-menu-item{
   
    color: #252445 !important;
    font-size: 20px;
    box-shadow: none ;
}
.custome-transparent-menu .ant-menu-item-selected{
    background: transparent !important;
    border-bottom: none !important;
}


.custome-transparent-menu{
    background: transparent !important;
    border:none !important;
}

*{
    
}

.logo{
    background: url('~/asset/logo.svg')
}

.custome-login-button{
    height: 50px !important;
    width: 100px !important;
    border: 2px solid #252445 !important;
    border-radius: 33px !important;
    margin: 5px !important;
    background: transparent !important;
    color: #252445 !important;
    font-size: 20px !important;
}


.custome-header h1{
    text-shadow:  1px 1px 2px #00000045;
    font-size: 2rem !important;
}

.custome-header h3{
    text-shadow:  1px 1px 2px #00000045;
    margin: 0px !important;
    font-size: 20px !important;
    cursor: pointer !important;
}

.custome-header h2{
    text-shadow:  1px 1px 2px #252445;
    color:white !important
}

/*#869bbe*/
/* 
border-right: 100vw solid white;
border-top: 80px solid transparent;
height: 50px;
overflow: hidden;
width: 100%;
top: -80px;
position: relative; */